.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
testing-workspace/**
reset-testing-workspace.bat
reset-testing-workspace.sh
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
.travis.yml
README.provided_by_vscode
TODO