.vscode/**
.vscode-test/**
out/**
src/**
testing-workspace/**
.github/**
node_modules/**
.pytest_cache/**

.gitignore
.gitattributes
tsconfig.json
vsc-extension-quickstart.md
tslint.json
.travis.yml
package-lock.json
webpack.config.js
CONTRIBUTING.md

TODO
README.provided_by_vscode
reset-testing-workspace.bat
reset-testing-workspace.sh
generate_changelog_html.bat
RELEASE_NOTES.md

**/*.vsix
**/*.gif
**/*.svg

**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
out/test/**
