.vscode/**
.vscode-test/**
out/**
src/**
testing-workspace/**
.github/**
node_modules/**

.gitignore
.gitattributes
tsconfig.json
vsc-extension-quickstart.md
tslint.json
.travis.yml
package-lock.json
webpack.config.js
CONTRIBUTING.md

TODO
README.provided_by_vscode
reset-testing-workspace.bat
reset-testing-workspace.sh
generate_changelog_html.bat

*.vsix
